.refactorclirc
analysis.json

*.o
*.a
*.lo
*.la
*.lai
*.gch
*.pyc
*.pyo
*.pyd

/.cache/
/dist/
/out/
/pkg/
/tmp/
/bin/
/cover.out

/.idea/
/.vscode/
/.vscode-test/
/*.sublime-project
/*.sublime-workspace

.DS_Store
Thumbs.db
